@page "/Person/Detail/{id}"
@inject IPersonService PersonService
@inject IPersonAddressService PersonAddressService
@inject NavigationManager Nav

<div class="col-md-9">
    <p>
        <div class="row">
            <div class="col-md-5 text-left">
                <NavLink class="btn btn-secondary" href="@("/Person")">Back</NavLink>
            </div>

            <div class="col-md-3 text-right">
                <NavLink class="btn btn-primary" href="@($"/Person/Edit/{Id}")">Edit Person</NavLink>
                <NavLink class="btn btn-danger"  style="color:white; cursor:pointer" @onclick="@ShowPerson">Delete Person</NavLink>
            </div>
        </div>
    </p>
</div>

@if (Person == null)
{
    <span>Loading person...</span>
}
else
{
    <div class="card col-md-6">
        <div class="card-header">
            <h3>Person Detail</h3>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b><label style="padding-right:5px">Rank:</label></b>@Person.Rank</li>
            <li class="list-group-item"><b><label style="padding-right:5px">First Name:</label></b>@Person.FirstName</li>
            <li class="list-group-item"><b><label style="padding-right:5px">MI:</label></b>@Person.MiddleInitial</li>
            <li class="list-group-item"><b><label style="padding-right:5px">Last Name:</label></b>@Person.LastName</li>
            <li class="list-group-item"><b><label style="padding-right:5px">Gender:</label></b>@Person.Gender</li>
            <li class="list-group-item"><b><label style="padding-right:5px">Weight:</label></b>@Person.Weight</li>
            <li class="list-group-item"><b><label style="padding-right:5px">Height:</label></b>@Person.Height</li>
            <li class="list-group-item"><b><label style="padding-right:5px">Eye Color:</label></b>@Person.EyeColor</li>
            <li class="list-group-item"><b><label style="padding-right:5px">Race:</label></b>@Person.Race</li>
            <li class="list-group-item"><b><label style="padding-right:5px">Is Active:</label></b>@Person.IsActive</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <NavLink class="btn btn-primary" href="@($"/Address/Create/{Id}")">Create Address</NavLink>
        </div>
    </div>

    <div style="padding-top:20px">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Type</th>
                    <th scope="col">Street Address</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Zip Code</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var address in Person.Addresses)
                {
                    <tr>
                        <td><NavLink href="@($"/Address/Edit/{address.Id}")"><span class="oi oi-pencil"></span></NavLink></td>
                        <td><span style="cursor:pointer" @onclick="() => ShowPersonAddress(address.Id)" class="oi oi-trash"></span></td>
                        <td>@address.Type</td>
                        <td>@address.Street</td>
                        <td>@address.City</td>
                        <td>@address.State</td>
                        <td>@address.ZipCode</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (ShowPersonDialogue)
    {
        <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">  
                <div class="modal-content">  
                    <div class="modal-header">  
                        <h5 class="modal-title" id="titleLabel">Delete Person Confirmation</h5>  
                        <button type="button" class="close" @onclick="@ClosePerson" data-dismiss="modal" aria-label="Close">  
                            <span aria-hidden="true">×</span>  
                        </button>  
                    </div>  
                    <div class="modal-body text-center">  
                        <NavLink @onclick="@ClosePerson" style="color:white; cursor:pointer" class="btn btn-secondary">Cancel</NavLink>
                        <NavLink @onclick="@HandlePersonDelete" class="btn btn-danger" style="color:white; cursor:pointer">Confirm Delete</NavLink>
                    </div>  
                </div>  
            </div>  
        </div>
    }
    @if (ShowPersonAddressDialogue)
    {
        <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">  
                <div class="modal-content">  
                    <div class="modal-header">  
                        <h5 class="modal-title" id="titleLabel">Delete Address Confirmation</h5>  
                        <button type="button" class="close" @onclick="@ClosePersonAddress" data-dismiss="modal" aria-label="Close">  
                            <span aria-hidden="true">×</span>  
                        </button>  
                    </div>  
                    <div class="modal-body text-center">  
                        <NavLink @onclick="@ClosePersonAddress"  style="color:white; cursor:pointer" class="btn btn-secondary">Cancel</NavLink>
                        <NavLink @onclick="() => HandlePersonAddressDelete(AddressID)" class="btn btn-danger" style="color:white; cursor:pointer">Confirm Delete</NavLink>
                    </div>  
                </div>  
            </div>  
        </div>
    }
}

@code {
    [Parameter]
    public string Id { get; set; }

    public PersonModel Person { get; set; }
    public bool ShowPersonDialogue { get; set; } = false;
    public bool ShowPersonAddressDialogue { get; set; } = false;
    public int AddressID { get; set; }     

    protected override async Task OnInitializedAsync()
    {
        Person = await PersonService.GetPersonById(Id);
    }
    void ShowPerson()
    {
        ShowPersonDialogue = true;
        StateHasChanged();
    }

    void ClosePerson()
    {
        ShowPersonDialogue = false;
        StateHasChanged();
    }

    protected async Task HandlePersonDelete()
    {
        await PersonService.DeletePerson(Person.Id);
        ShowPersonDialogue = false;
        StateHasChanged();
        Nav.NavigateTo("/Person");
    }

    void ShowPersonAddress(int ID)
    {
        ShowPersonAddressDialogue = true;
        AddressID = ID;
        StateHasChanged();
    }

    void ClosePersonAddress()
    {
        ShowPersonAddressDialogue = false;
        StateHasChanged();
    }
    protected async Task HandlePersonAddressDelete(int ID)
    {
        await PersonAddressService.DeletePersonAddress(ID);
        ShowPersonAddressDialogue = false;
        StateHasChanged();
        Nav.NavigateTo($"/Person/Detail/{Person.Id}", true);
    }
}
