@page "/Person"
@inject IPersonService PersonService

<div class="col-md-12">
    <p>
        <div class="row">
            <div class="col-md-6 text-left">
                <NavLink class="btn btn-secondary" href="@("/")">Back</NavLink>
            </div>
             <div class="col-md-6 text-right">
                <NavLink class="btn btn-secondary" href="@("/Person/Create")">Create New Person</NavLink>
            </div>
        </div>
    </p>
</div>

<h3>People</h3>

<hr />

@if (People == null && People.Count() == 0)
{
    <span>Loading people...</span>
}
else
{
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">View</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Rank</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">First Name</th>
                    <th scope="col">MI</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Active</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in People)
                {
                    <tr>
                        <td><NavLink href="@($"/Person/Detail/{person.Id}")"><span class="oi oi-person"></span></NavLink></td>
                        <td><NavLink href="@($"/Person/Edit/{person.Id}")"><span class="oi oi-pencil"></span></NavLink></td>
                        <td><span style="cursor:pointer" @onclick="() => Show(person.Id)" class="oi oi-trash"></span></td>
                        <td>@person.Rank</td>
                        <td>@person.LastName</td>
                        <td>@person.FirstName</td>
                        <td>@person.MiddleInitial</td>
                        <td>@person.Gender</td>
                        @if(person.IsActive == true)
                        {
                           <td><span class="oi oi-check" style="color:green"></span></td>
                        }
                        else
                        {
                           <td><span class="oi oi-x" style="color:red"></span></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (ShowDialogue)
    {
        <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">  
                <div class="modal-content">  
                    <div class="modal-header">  
                        <h5 class="modal-title" id="titleLabel">Delete Confirmation</h5>  
                        <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">  
                            <span aria-hidden="true">×</span>  
                        </button>  
                    </div>  
                    <div class="modal-body text-center">  
                        <NavLink @onclick="@Close" style="color:white; cursor:pointer" class="btn btn-secondary">Cancel</NavLink>
                        <NavLink @onclick="@HandlePersonDelete" style="color:white; cursor:pointer" class="btn btn-danger">Confirm Delete</NavLink>
                    </div>  
                </div>  
            </div>  
        </div>
    }
}


@code {
    public IEnumerable<PersonModel> People { get; set; } = new List<PersonModel>();

    public bool ShowDialogue { get; set; } = false;
    public int PersonId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        People = await PersonService.GetPeople();
    }

    void Show(int Id)
    {
        ShowDialogue = true;
        PersonId = Id;
        StateHasChanged();
    }

    void Close()
    {
        ShowDialogue = false;
        StateHasChanged();
    }

    protected async Task HandlePersonDelete()
    {
        await PersonService.DeletePerson(PersonId);
        People = await PersonService.GetPeople();
        ShowDialogue = false;
        StateHasChanged();
    }
}
